* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(252, 249, 249);
  --secondary-color: rgb(255, 30, 0);
  --font-color: rgb(170, 145, 145);
}

.dark-theme {
  --primary-color: rgb(20, 19, 19);
  --secondary-color: rgb(255, 30, 0);
  --font-color: rgb(20, 19, 19);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-size: 0.875rem;
  justify-content: center;
}

.container {
  text-align: center;
}

img {
  width: 100px;
}

#welcomeMsg {
  margin-top: 20px;
  font-size: 2rem;
}

h2 {
  margin-top: 15px;
  font-size: 3rem;
}

#preloader {
  background: #000 url(preloader.gif) no-repeat center center;
  background-size: 30%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
}
